/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
@media screen and (min-width: 250px) {
  
 .small {
		content:url(images/kitten-small.png);
	}
	.kittyloaf {
		content:url(images/kittyloaf.gif);
	}
	body {
		background-image:url(images/pizza.gif);
	}
}
@media screen and (min-width: 750px) {
   body {
		content:url(images/kitten-medium.png);
	background-image:url(images/squid.gif);
	
	}
}
@media screen and (min-width: 1000px) {
    body {
		content:url(images/kitten-large.png);
		background-image:url(images/spooky.gif);
	}
}
